#ft-pg
{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: crimson;
}

#se-pg
{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: crimson;
}

#th-pg
{
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:crimson;
}

#fo-pg
{
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:crimson;
}

#fi-pg
{
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:crimson;
}

body{
    background-color: crimson;
}

#title
{
    font-family: 'Times New Roman', Times, serif;
    
}

#hp
{
    font-family: 'Times New Roman', Times, serif;
}