#ft-pg
{
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

#se-pg
{
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

#th-pg
{
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:white;
}

#fo-pg
{
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:white;
}

#fi-pg
{
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:white;
}

#title
{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}

#que
{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}