#ft-pg
{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blue;
}

#se-pg
{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blue;
}

#th-pg
{
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:blue;
}

#fo-pg
{
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:blue;
}

#fi-pg
{
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:blue;
}

body{
   background-color:blue;
}

#title
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#para
{
    color:white;
    font-family:'Times New Roman', Times, serif;
}

#BLM
{
    width:500px;
}